/* Footer */
.section.footer {background: #478ada;}
.section.footer .container { padding: 35px 0 28px 0 ;background: #3469ae; color: #fff;}
.section.footer a {color: #fff; }
.section.footer a:hover, .section.footer a:focus { color: #ffe48a;}
.section.footer .omega p { text-align: right; margin-right: 30px;}