/* Home page */	
.welcome {margin: 0 20px 14px 10px;padding: 21px 25px 14px 30px;background-color: rgba(0, 0, 0, 0.02);;border: 1px solid #ddd;border-color: rgba(0, 0, 0, 0.1); -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}									
.section.middle #specialcontent { background:#478ada; color: #fff;}
.section.middle #specialcontent h2 { color: #fff;}
#specialcontent .wp-caption { border: 1px solid #3469ae; background: #eee; color: #222; }
#specialcontent a { color: #fff;}
#specialcontent a.button {display: inline-block;font-size: 1.2em;line-height: 3em;margin: 1em;padding: 0 1.5em;letter-spacing: 1px;}
#specialcontent a.learnmore {background-color: #e1eef8;color: #222;border-color: #fff;}
#specialcontent a.register {background-color: #78bd45;color: #fff;border-color: #bbb;}
.container#contentbottom { padding-top: 42px;}
.container#contentbottom blockquote { margin-top: 7px;}